<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdemoya.practicas_altice.proyecto_curso_basico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/history_btn_text"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DateIntervalActivity"
            android:label="@string/title_intervalos"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FutureDateActivity"
            android:label="@string/title_futuro"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PastDateActivity"
            android:label="@string/title_pasado"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AgeCalculatorActivity"
            android:label="@string/title_edades"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>